<div class="sidebar" id="sidebar">
    <div class="sidebar-inner-placeholder">
     <button class="toggle-btn" id="toggle-button"> <span>View Menu</span> ☰</button>
     <ul>
         <li><a href="{{ url_for('admin_bp.Dashboard') }}">Dashboard</a></li>
         <li><a href="{{ url_for('admin_bp.create_project') }}">Create Project</a></li>
         <li><a href="{{ url_for('admin_bp.view') }}">Browse Project's</a></li>
         <li><a href="{{ url_for('admin_bp.client_analysis') }}">View Subscription</a></li>
         <li><a href="#Profile">Profile</a></li>
     </ul>
    </div>
 </div>